<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<body>
<span th:fragment="footer">
<footer class="footer">
      <div class=" container ">
      </div>
    </footer>
</div>
<!--   Core JS Files   -->
<script th:src="@{/js/loginPage/jquery.min.js}"></script>
<script th:src="@{/js/loginPage/popper.min.js}"></script>
<script th:src="@{/js/loginPage/bootstrap.min.js}"></script>
<script th:src="@{/js/loginPage/bootstrap-switch.js}"></script>
<script th:src="@{/js/loginPage/nouislider.min.js}"></script>
<script th:src="@{/js/loginPage/now-ui-kit.js(v=1.3.0)}"></script>
</span>
</body>
</html>