<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:include="/mainPages/header :: head"></head>
<body>

<span th:replace="/mainPages/header :: header"></span>

<div id="banner-area" class="banner-area" th:style="'background-image:url(' + @{/images/banner/banner1.jpg} + ');'">
  <div class="banner-text">
    <div class="container">
        <div class="row">
          <div class="col-lg-12">
              <div class="banner-heading">
                <h1 class="banner-title" style="color: black">Car repair order</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                      <li class="breadcrumb-item" style="color: black"><a th:href="@{/}">Home</a></li>
                      <li class="breadcrumb-item" style="color: black"><a th:href="@{/}">Contact Us</a></li>
                    </ol>
                </nav>
              </div>
          </div><!-- Col end -->
        </div><!-- Row end -->
    </div><!-- Container end -->
  </div><!-- Banner text end -->
</div><!-- Banner area end --> 

<section id="main-container" class="main-container">
  <div class="container">

    <div class="row text-center">
      <div class="col-12">
        <h3 class="section-sub-title">Make an appointment</h3>
      </div>
    </div>
    <!--/ Title row end -->

    <div class="row">
      <div class="col-md-12">
        <form id="contact-form" th:action="@{/appointmentDetails}" method="post" role="form">
          <div class="error-container">
          </div>
          <div class="row text-center">
            <div class="col-12">
              <h3>Visit</h3>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-3">
              <div class="form-group">
                <label>Selected Visit Date</label>
                <input class="form-control" th:value="${selectedDate}" type="text" disabled>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Selected Workshop</label>
                <input class="form-control" th:value="${selectedWorkshop.getCity() + ', ' +
                                                        selectedWorkshop.getStreet() + ' ' + selectedWorkshop.getNumber()}" type="text" disabled>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Visit Time</label>
                <select name="selectedVisitTime" id="selectedVisitTime" class="form-control form-control-name">
                  <option th:each="visitTime : ${availableVisitTimeList}" th:value="${visitTime}" th:text="${visitTime}"></option>
                </select>
              </div>
            </div>
          </div>
          <div class="row text-center" >
            <div class="col-12">
              <h3>Person</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label>First Name</label>
                <input th:field="*{user.firstName}" type="text" class="form-control form-control-name">
                <div class="text-danger" style="text-align: center;" th:if="${#fields.hasErrors('user.firstName')}" th:errors="*{user.firstName}"></div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Last Name</label>
                <input th:field="*{user.lastName}" type="text" class="form-control form-control-email">
                <div class="text-danger" style="text-align: center;" th:if="${#fields.hasErrors('user.lastName')}" th:errors="*{user.lastName}"></div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Phone Number</label>
                <input th:field="*{user.phoneNumber}" type="text" class="form-control form-control-subject">
                <div class="text-danger" style="text-align: center;" th:if="${#fields.hasErrors('user.phoneNumber')}" th:errors="*{user.phoneNumber}"></div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Email</label>
                <input th:field="*{user.email}" type="text" class="form-control form-control-name">
                <div class="text-danger" style="text-align: center;" th:if="${#fields.hasErrors('user.email')}" th:errors="*{user.email}"></div>
              </div>
            </div>
          </div>
          <div class="row text-center">
            <div class="col-12">
              <h3>Car</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Brand</label>
                  <select name="selectedCarBrand" th:field="*{car.brand}" class="form-control form-control-name">
                    <option th:each="brand : ${carBrandsList}" th:value="${brand}" th:text="${brand}"></option>
                  </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Model</label>
                <input th:field="*{car.model}" type="text" class="form-control form-control-name">
                <div class="text-danger" style="text-align: center;" th:if="${#fields.hasErrors('car.model')}" th:errors="*{car.model}"></div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Production Year</label>
                <input th:field="*{car.productionYear}" type="text" class="form-control form-control-name">
                <div class="text-danger" style="text-align: center;" th:if="${#fields.hasErrors('car.productionYear')}" th:errors="*{car.productionYear}"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Engine Type</label>
                <select name="selectedCarBrand" th:field="*{car.engineType}" class="form-control form-control-name">
                  <option th:each="engineType : ${engineTypesList}" th:value="${engineType}" th:text="${engineType}"></option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Engine Capacity (CC)</label>
                <input th:field="*{car.engineCapacity}" type="text" class="form-control form-control-name">
                <div class="text-danger" style="text-align: center;" th:if="${#fields.hasErrors('car.engineCapacity')}" th:errors="*{car.engineCapacity}"></div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Engine Power (HP)</label>
                <input th:field="*{car.enginePower}" type="text" class="form-control form-control-name">
                <div class="text-danger" style="text-align: center;" th:if="${#fields.hasErrors('car.enginePower')}" th:errors="*{car.enginePower}"></div>
              </div>
            </div>
          </div>
          <div class="row text-center">
            <div class="col-12">
              <h3>Tasks</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4" th:each="task : ${allTasks}">
              <div class="form-check" >
                  <input class="form-check-input" type="checkbox" name="selectedTasks" id="selectedTasks" th:value="${task.getId()}">
                  <label class="form-check-label" th:text="${task.getDescription()}" for="selectedTasks"></label>
              </div>
            </div>
          </div>
          <br>
          <div class="form-group">
            <label>More Informations</label>
            <textarea class="form-control form-control-message" th:field="*{order.moreInformation}" placeholder="" rows="4"></textarea>
          </div>
          <div class="text-right"><br>
            <input name="selectedWorkshopId" th:value="${selectedWorkshopId}" type="hidden">
            <input name="selectedDate" th:value="${selectedDate}" type="hidden">
            <input name="availableVisitTimeList" th:value="${availableVisitTimeList}" type="hidden">

            <button class="btn btn-primary solid blank" type="submit">Submit</button>
          </div>
        </form>
      </div>

    </div><!-- Content row -->
  </div><!-- Conatiner end -->
</section><!-- Main container end -->

<span th:replace="/mainPages/footer :: footer"></span>
  </body>

  </html>