<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:include="/mainPages/header :: head"></head>
<body>

<span th:replace="/mainPages/header :: header"></span>

<div id="banner-area" class="banner-area" th:style="'background-image:url(' + @{/images/banner/banner1.jpg} + ');'">
  <div class="banner-text">
    <div class="container">
        <div class="row">
          <div class="col-lg-12">
              <div class="banner-heading">
                <h1 class="banner-title" style="color: black">Car repair order</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                      <li class="breadcrumb-item" style="color: black"><a th:href="@{/}">Home</a></li>
                      <li class="breadcrumb-item" style="color: black"><a th:href="@{/}">Contact Us</a></li>
                    </ol>
                </nav>
              </div>
          </div><!-- Col end -->
        </div><!-- Row end -->
    </div><!-- Container end -->
  </div><!-- Banner text end -->
</div><!-- Banner area end --> 

<section id="main-container" class="main-container">
  <div class="container">

    <div class="row text-center">
      <div class="col-12">
        <h3 class="section-sub-title">Congratulation!</h3>
        <h3>You booked visit in workshop.</h3>
        <br>
        <h3 class="into-title" style="color: green">Status:</h3>
        <h2 class="into-title" style="color: orange">Your order is waiting for confirmation. </h2>
        <br>
        <p>We will send You more information on mail soon.</p>
      </div>
    </div>
    <!--/ Title row end -->

    </div><!-- Content row -->
  </div><!-- Conatiner end -->
</section><!-- Main container end -->

<span th:replace="/mainPages/footer :: footer"></span>
  </body>

  </html>