<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<body>
<span th:fragment="footer">
<footer  id="footer" class="footer bg-overlay">
    <div class="footer-main">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-4 col-md-6 footer-widget footer-about">
                    <h3 class="widget-title">About Us</h3>
                    <h4 style="color:white;">Car Workshop Manager</h4>
                    <p>We are a network of car repair shops throughout the country. We focus on: quality of services, customer satisfaction and speed of action. Our success is your success!</p>
                </div><!-- Col end -->

                <div class="col-lg-4 col-md-6 footer-widget mt-5 mt-md-0">
                    <h3 class="widget-title">Working Hours</h3>
                    <div class="working-hours">
                        We work 7 days a week, every day excluding major holidays. Contact us if you have an emergency, with our
                        Hotline and Contact form.
                        <br><br> Monday - Friday: <span class="text-right">10:00 - 16:00 </span>
                        <br> Saturday: <span class="text-right">12:00 - 15:00</span>
                        <br> Sunday and holidays: <span class="text-right">09:00 - 12:00</span>
                    </div>
                </div><!-- Col end -->
            </div><!-- Row end -->
        </div><!-- Container end -->
    </div><!-- Footer main end -->

    <div class="copyright">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="copyright-info">
              <span>Copyright &copy; <script>
                  document.write(new Date().getFullYear())
                </script>, Designed &amp; Developed by <a href="https://themefisher.com">Themefisher</a></span>
                    </div>
                </div>
            </div><!-- Row end -->

            <div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top position-fixed">
                <button class="btn btn-primary" title="Back to Top">
                    <i class="fa fa-angle-double-up"></i>
                </button>
            </div>

        </div><!-- Container end -->
    </div><!-- Copyright end -->
</footer><!-- Footer end -->


<!-- Javascript Files
================================================== -->

<!-- initialize jQuery Library -->
<script th:src="@{/js/mainPage/jquery.min.js}"></script>
<!-- Bootstrap jQuery -->
<script th:src="@{/js/mainPage/bootstrap.min.js}" defer></script>
<!-- Slick Carousel -->
<script th:src="@{/js/mainPage/slick.min.js}"></script>
<script th:src="@{/js/mainPage/slick-animation.min.js}"></script>
<!-- Color box -->
<script th:src="@{/js/mainPage/jquery.colorbox.js}"></script>
<!-- shuffle -->
<script th:src="@{/js/mainPage/shuffle.min.js}" defer></script>

<!-- Template custom -->
<script th:src="@{/js/mainPage/script.js}"></script>

</div><!-- Body inner end -->
    </span>
</body>
</html>